:root {
  --bg: linear-gradient(135deg, #39c0ffa8, #0077fea2);
  --card: #2d8fff;
  --text: #000000;
  --btn: #3060ff;
}

body.dark {
  --bg: linear-gradient(135deg, #190074, #03001a);
  --card: #02013b;
  --text: #ffffff;
  --btn: #0a0092;
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s;
}

.container {
  background: var(--card);
  color: var(--text);
  padding: 25px;
  width: 90%;
  max-width:360px;
  border-radius: 14px;
  box-shadow: 0 15px 30px rgba(51, 55, 66, 0.25);
  text-align: center;
}

h1 {
  margin-bottom: 10px;
}

.toggle {
  margin-bottom: 15px 0;
}

input, select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  display: block;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}


.resultado {
  margin-top: 15px;
  font-size: 20px;
  font-weight:bolder;
}

button {
  background: var(--btn);
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  opacity: 0.9;
}

footer {
  margin-top: 15px;
  font-size: 12px;
  opacity: 0.7;
}

@media (max-width: 400px) {
  h1 {
    font-size: 20px;
  }
}

